.show-cards {
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .show-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .show-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .show-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .show-cards {
    grid-template-columns: 8fr 4fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .show-cards {
    grid-template-columns: 8fr 4fr;
  }
}

.card-description {
  padding: 32px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
}

.card-description h1 {
  color: $light-red;
  margin-bottom: 1em;
}

.card-description p {
  font-size: 18px;
}

.card-info {
  padding: 32px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.card-info h3 {
  color: $light-red;
  margin-bottom: 1em;
}

.card-info p {
  font-size: 18px;
}

.info-details {
  display: block;
  margin: auto;
}

.price, .duration {
  text-align: left;
  margin: auto;
  width: 40%;
}

