<div class="banner">
  <div class="banner-content">
    <div class="container px-3">
      <h1>Evi Sanoll</h1>
      <h3>Trumpet player & Music teacher</h3>
      <%= link_to "About me", about_path, class: "btn btn-flat btn-lg" %>
    </div>
  </div>
  <div class="banner-visual px-3">
    <%= image_tag "background-4.webp", id: "banner-image", alt: "banner" %>
  </div>
</div>
