<div class="banner">
  <div class="banner-content">
    <h1>Evi Sanoll</h1>
    <h3>Trumpet player & Music teacher</h3>
    <%= link_to "About me", '#', class: "btn btn-flat btn-lg" %>
  </div>
  <div class="banner-visual">
    <%= image_tag "background-4.webp", id: "banner-image", alt: "banner" %>
  </div>
</div>
