<div class="banner">
  <div class="banner-content">
    <h1>Hello! I'm Evi Sanoll</h1>
    <p>I'm an amazing trumpet player and this is my portfolio website.</p>
  </div>
  <%= image_tag "background-4.webp", id: "banner-image", alt: "banner" %>
</div>
