.banner {
  display: grid;
  padding: 8px;
  align-items: center;
  grid-gap: 16px;
}

#banner-image {
  position: relative;
  margin: auto;
  filter: drop-shadow(0 0 7rem rgba(0,0,0,0.3)); //255,88,93,0.3
  width: 40vw;
}

.banner-content {
  flex-grow: 1;
  margin: auto;
  padding: 8px;
  h1 {
    font-weight: bolder;
    font-size: 70px;
    color: $almost-black;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 280px) {
  .banner {
    grid-template-columns: 1fr;
  }

  .banner-content {
    order: 2;
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }

  .banner-visual {
    order: 1;
    margin: auto !important;
    #banner-image {
      width: 50vw;
    }
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .banner {
    grid-template-columns: 1fr;
  }

  .banner-content {
    order: 2;
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }

  .banner-visual {
    order: 1;
    margin: auto !important;
    #banner-image {
      width: 50vw;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    grid-template-columns: 1fr;
  }

  .banner-content {
    order: 2;
    text-align: center;
    h1 {
     font-size: 50px;
    }
  }

  .banner-visual {
    order: 1;
    margin: auto !important;
    #banner-image {
      width: 60vw;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 32px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
    grid-template-columns: 1fr 1fr;
  }
}
