.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 8px 32px 0px 32px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  width: 120px;
}


.nav-item {
  font-weight: bold;
  font-family: $headers-font;
}

.nav-item a:hover {
  text-style:none;
  color: $almost-black !important;
}

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  .navbar-lewagon {
    padding: 8px;
    #logo {
      width: 90px;
    }
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .dropdown {
    text-align: center;
    min-height: 100vh;
  }
  .navbar-nav {
    margin-top: 100px;
    .nav-link {
      font-size: 2em;
    }
  }
}
